# Mac Files
.DS_Store
.localized

# Data
data/
*.csv
*.xlsx

# Jupyter Notebook
.ipynb_checkpoints/

# Python
__pycache__/
test.py
test.ipynb

# Temporary files
tmp_*.ipynb

# Member's codes for Merging
MemberCodes/

# h2o 7333...............
h2o_0613.ipynb